@import "bootstrap";
@import 'ember-paper';
@import "svg-progress-circle";

 
.card {
	position: relative;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #fff;
	border: 2px solid #000;
}
.btn-primary {
	color: #fff;
	background-color: #f16e00;
	border-color: #f16e00;
	}
	.card {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #fff;
	border: 2px solid #000;
	}
	img {
	vertical-align: middle;
	border-style: none;
	}
	.card-block {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
	}
	.fa-fa-style {
		font-size: 900%;
		color: red;
    padding-top:8%;
	}

	.registerbtn {
		background-color: #4CAF50;
		color: white;
		padding: 16px 20px;
		margin: 8px 0;
		border: none;
		cursor: pointer;
		width: 100%;
		opacity: 0.9;
	}
	
	.registerbtn:hover {
		opacity: 1;
	}
	.card-title {
	margin-bottom: 0.75rem;
	}
	p {
	margin-top: 0;
	margin-bottom: 1rem;
	}
.card-block {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
}
.bottom-padding-10{
	padding-bottom: 10px;
}
.Document-Details {
  width: 110px;
	height: 17px;
	margin-top: 101px;
	margin-left: 66px;
  font-family: ProximaNova;
	font-size: 14px;
	font-weight: 600;
  color: #ffffff;
}
.center-block {
	width: 58%;
	// padding: 20px;
	background-color: #eceadc;
	color: #ec8007;
	float:left;
}
.icon {
  width: 36px;
	height: 36px;
  border-radius: 2px;
  // background-color: white;
}
.row-1{
	width: 805px;
  height: 17px;
}
.Upload {
  width: 114px;
  height: 22px;
  font-family: ProximaNova;
  font-size: 18px;
  font-weight: 600;
  margin-top:29px;
  margin-left:30px;
  color: #1f305d;
}
.Cont-lock {
  width: 604px;
  // height: 709px;
  background-color: #ffffff;
}
.Status-Updates {
  width: 103px;
  height: 19px;
  font-family: OpenSans;
  font-size: 14px;
	font-weight: 600;
	margin-top: 51px;
	margin-left: 66px;
  color: #ffffff;
}
.Submit-Documents {
  width: 130px;
	height: 19px;
	margin-top:53px;
	margin-left: 66px;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}
 .top-padding-10{
	padding-top: 10px;
  }

 .Fix-Image{
	width: 152px;
	margin-top:50px;
	margin-left:95px;
	height: 144px;
  }
  .Maharashtra-state-bo {
	width: 720px;
	height: 231px;
	font-family: ProximaNova;
	font-size: 64px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
	margin-left:95px;
	margin-top:52px;
	// background-color: green;
  }
  
  .Maharashtra-state-bo .text-style-1 {
	font-weight: bold;
  }
  .Call {
	width: 213px;
	height: 22px;
	font-family: ProximaNova;
	font-size: 18px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	margin-left:60%;
	margin-bottom:0%;
	margin-top:12%;
	color: #ffffff;
  }
  .Mask {
	width: 100%;
	height: 640px;
	background-color: #162242;
  }

  .Mask-login {
	width: 399px;
	height: 440px;
	border-radius: 8px;
	margin-left:30%;
	background-color: #ffffff;
	box-shadow: 0 8px 9px 0 rgba(0, 0, 0, 0.14);
  }
  .Use-OTP-Forgot-Passw {
	width: 246px;
	font-family: ProximaNova;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 4.13;
	letter-spacing: normal;
	color: #000000;
  }
  .Sign-in {
	width: 104px;
	height: 30px;
	font-family: ProximaNova;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.25;
	letter-spacing: 0.5px;
	text-align: center;
	color: #ffffff;
  }
  .Rectangle-5 {
	margin-left:35px;
	width: 331px;
	height: 59px;
	border-radius: 2px;
	background-color: #4990e2;
  }
  
  
  .New {
	width: 297px;
	height: 59px;
	margin-left:35px;
	
	font-family: ProximaNova;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 3.25;
	letter-spacing: normal;
	color: #4190e4;
  }
  .Rectangle-3 {
	width: 399px;
	height: 11px;
	margin-top:8%;
	border-radius: 8px;
	background-color: #4990e2;
  }
  .About-DMS-helps-to-E {
	width: 861px;
	height: 53px;
	margin-top:95px;
	margin-left:280px;
	font-family: ProximaNova;
	font-size: 38px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.18;
	letter-spacing: normal;
	color: #000000;
	}

  .block{
	margin-left:38%;
	margin-top: 100px;
	margin-bottom: 61px;

  }
  .Rectangle-5-Copy {
	  // margin-left:570px;
	width: 292px;
	height: 59px;
	border-radius: 8px;
	background-color: #4990e2;
  }
  .START {
	width: 205px;
	height: 24px;
	font-family: ProximaNova;
	font-size: 18px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
  }
  .Try-Your-Education-D {
	width: 100%;
	height: 53px;
	padding-top: 83px;

	font-family: ProximaNova;
	font-size: 34px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.09;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
  }
  
  .Try-Your-Education-D .text-style-1 {
	font-weight: bold;
  }
  .Lorem {
	width: 100%;
	height: 123px;
	// margin-left:290px;
	text-align:center;
	font-family: ProximaNova;
	font-size: 18px;
	color: #282828;
  }
  .Rectangle-6 {
	width: 100%;
	height: 300px;
	margin-top:83px;
	background-color: #f6f7fc;
	}
	.logo {
		width: 49px;
		height: 46px;
	}
	.Aligin-logo{
   margin-left:27px;
   margin-top:7px;
	}
	.Side-nav {
		width: 200px;
		height: 840px;
		background-color: #242536;
	}

	.username {
		width: 152px;
		height: 14px;
		font-family: ProximaNova;
		font-size: 14px;
		font-weight: 600;
		font-style: normal;
		font-stretch: normal;
		line-height: 1;
		margin-right:25px;
		margin-top:25px;
		margin-bottom:25px;
		margin-left:50px;
		letter-spacing: normal;
		color: #ffffff;
	}
	.About-Us {
		width: 69px;
		height: 123px;
		font-family: ProximaNova;
		font-size: 13px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.15;
		letter-spacing: normal;
		color: #000000;
	}
	.All-Documents {
		width: 92px;
		height: 14px;
		margin-left:20px;
		padding-top:18px;
		font-family: ProximaNova;
		font-size: 14px;
		font-weight: 600;
		font-style: normal;
		font-stretch: normal;
		line-height: 1;
		letter-spacing: normal;
		color: #ffffff;
	}
	.Navbar {
		width: 100%;
		height: 60px;
		background-color: #121f3f;
		box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.23);
	}
	.fa-fa-style {
		font-size: 900%;
		color: red;
    padding-top:8%;
	}
	
	.bar-1 {
		width: 200px;
		height: 51px;
		color:white;
		background-color: #4990e2;
	}
	.video-align{
		margin-top: 115px;
    margin-left: 380px;
    margin-bottom: -11%;
	}
	.Pending {
		width: 51px;
		height: 14px;
		font-family: ProximaNova;
		font-size: 14px;
		padding-top:30px;
		padding-left:20px;
		letter-spacing: normal;
		color: #ffffff;
	}
	.Documents {
		width: 112px;
		height: 14px;
		margin-top:24px;
		margin-left:19px;
		font-family: ProximaNova;
		font-size: 12px;
		font-weight: 600;
	
		color: #ffffff;
	}
	.Rectangle-2-Copy-7 {
		width: 100%;
		height: 51px;
		margin-top:26px;
	
		background-color: #4990e2;
	}

	.Search-block {
		width: 300px;
		height: 40px;
		border-radius: 4px;
		background-color: #ffffff;
		border: solid 1px #dbdbdb;
	}
	.Rectangle-402 {
		width: 157px;
		height: 40px;
		border-radius: 4px;

		border: solid 1px #dbdbdb;
	}
	.topnav-right {
		float: right;
	}
	.Rectangle-2-Copy-3 {
		width: 844px;
		height: 154px;
		background-color: #ffffff;
	}
	.Rectangle-403 {
		width: 300px;
		height: 40px;
		margin-left:20px;
		border-radius: 4px;
		background-color: #ffffff;
		border: solid 1px #dbdbdb;
	}
	.line-2 {
		width: 200px;
		height: 1px;
		margin-top:43px;
		background-color: #000000;
	}
	.line {
		width: 200px;
		height: 1px;
		margin-top:191px;
		// opacity: 0.11;
		background-color: #ffffff;
	}
	.sidebar {
		width: 200px;
		height: 840px;
		padding-top: 30px;
		background-color: #242536;
		}
		.Block {
			width: 100%;
			height: 200px;
			border: 1px solid gray;	
		}
		.SSLC-Documents {
			width: 100%;
			height: 22px;
			font-family: ProximaNova;
			margin-top:30px;
			padding-top:17px;
			padding-left:32px;
			font-size: 18px;
			font-weight: 600;
			color: #1f305d;
		}
		.main {
		margin-left: 20%;/* Same as the width of the sidenav */
		margin-top: -825px;
	
	
		}
	.Pending-1{
		width: 51px;
		height: 14px;
		font-family: ProximaNova;
		font-size: 14px;
		padding-top:40px;
		padding-left:20px;
		letter-spacing: normal;
		color: #ffffff;
	}
	.Pending-3{
		width: 100%;
		height: 14px;
		font-family: ProximaNova;
		font-size: 14px;
		padding-top:40px;
		padding-left:20px;
		line-height: 1;
		letter-spacing: normal;
		color: #ffffff;
	}
	.Pending-2{
		width: 51px;
		height: 14px;
		font-family: ProximaNova;
		font-size: 14px;
		padding-top:40px;
		padding-left:20px;
		line-height: 1;
		letter-spacing: normal;
		color: #ffffff;
	}
	.About-Us .text-style-1 {
		font-size: 12px;
		font-weight: bold;
		line-height: 1.17;
	}
  .Content {
	width: 100%;
	margin-top:300px;
	height: 93px;
	font-family: ProximaNova;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
  }
  .About-DMS-helps-to-E .text-style-1 {
	font-weight: bold;
  }
  .New .text-style-1 {
	font-weight: normal;
	color: #000000;
  }
  .Mobile-Number-or-Mai {
	width: 246px;
	// opacity: 0.27;
	font-family: ProximaNova;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 3.13;
	padding-left:54px;
	letter-spacing: normal;
	color: #000000;
  }
  .Welcome-to-DMS {
	width: 262px;
	height: 40px;
	font-family: ProximaNova;
	font-size: 24px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.25;
	letter-spacing: normal;
	padding-left:54px;
	padding-top:21px;
	color: #4a90e2;
  }
  .Know-More {
	width: 109px;
	height: 22px;
	margin-left:95px;
	font-family: ProximaNova;
	font-size: 18px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
  }
.description {
	display: block;
	width: 240px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
  }
.title{
	font-style: bold;
}
.old-body {
	font-family: 'Caveat';
}
body {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
html, body {
	height: 100%;
	margin: 0;
  }
  div.a {
	text-align: center;
}
  .ember-view{
	  height: inherit;
  }
  .wrapper{
	height: 100%;
  }
  .header, .footer {
	height: 20%;
  }
  .content {
	height: 80%;
	overflow: auto;
  }
.footer {
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }

.banner {
    background-image: url("banner.jpg");
    background-color: #cccccc;
 }
 
 .banner-text {
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.large-icons{
	font-size: 5.333333em;	
}
.white{
	background: white
}

.icon-bg{
	background: rgba(250, 247, 247, 0.404);
    border-radius: 15px;
    padding-top: 86px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.iconset{
	padding-top: 86px;
	font-size: 22px;
}

.icon-text{
	font-family: 'Caveat';
	font-size: 22px;
}

.well{
	margin: 5px;
}
.icon-cell{
	text-align: center;
}

.center{
	text-align: center;
}
.right{
	text-align: right;
}
.left{
	text-align: left;
}

.rcorners1 {
    border-radius: 5px;
     padding: 20px;  
}

.login-container {
    padding-top: 60px;
}
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}
