@import "bootstrap";
@import 'ember-paper';
@import "svg-progress-circle";
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "ember-power-select";
// @import "ember-animated-headline";

 
.card {
	position: relative;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #fff;
	border: 2px solid #000;
}
.btn-primary {
	color: #fff;
	background-color: #f16e00;
	border-color: #f16e00;
	}
	.card {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #fff;
	border: 2px solid #000;
	}
	img {
	vertical-align: middle;
	border-style: none;
	}
	.card-block {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
	}
	.fa-fa-style {
		font-size: 900%;
		color: red;
    padding-top:8%;
	}

	.registerbtn {
		background-color: #4CAF50;
		color: white;
		padding: 16px 20px;
		margin: 8px 0;
		border: none;
		cursor: pointer;
		width: 100%;
		opacity: 0.9;
	}
	
	.registerbtn:hover {
		opacity: 1;
	}
	.card-title {
	margin-bottom: 0.75rem;
	}
	p {
	margin-top: 0;
	margin-bottom: 1rem;
	}
.card-block {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
}
.bottom-padding-10{
	padding-bottom: 10px;
}
.Document-Details {
  width: 110px;
	height: 17px;
	margin-top: 101px;
	margin-left: 66px;
  font-family: ProximaNova;
	font-size: 14px;
	font-weight: 600;
  color: #ffffff;
}
.center-block {
	width: 58%;
	// padding: 20px;
	background-color: #eceadc;
	color: #ec8007;
	float:left;
}
.icon {
  width: 36px;
	height: 36px;
  border-radius: 2px;
  // background-color: white;
}
.row-1{
	width: 805px;
  height: 17px;
}
.Upload {
  width: 114px;
  height: 22px;
  font-family: ProximaNova;
  font-size: 18px;
  font-weight: 600;
  margin-top:29px;
  margin-left:30px;
  color: #1f305d;
}
.Cont-lock {
  width: 604px;
  // height: 709px;
  background-color: #ffffff;
}
.Status-Updates {
  width: 103px;
  height: 19px;
  font-family: OpenSans;
  font-size: 14px;
	font-weight: 600;
	margin-top: 51px;
	margin-left: 66px;
  color: #ffffff;
}
.Submit-Documents {
  width: 130px;
	height: 19px;
	margin-top:53px;
	margin-left: 66px;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}
.form-Align{
	margin-left: 1cm;
    margin-right: 1cm;

}
 .top-padding-10{
	padding-top: 10px;
  }

 .Fix-Image{
	width: 152px;
	margin-top:50px;
	margin-left:95px;
	height: 144px;
  }
  .Maharashtra-state-bo {
	width: 720px;
	height: 231px;
	font-family: ProximaNova;
	font-size: 64px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
	margin-left:95px;
	margin-top:52px;
	// background-color: green;
  }
  
  .Maharashtra-state-bo .text-style-1 {
	font-weight: bold;
  }
  .Call {
	width: 500px;
	height: 22px;
	font-family: ProximaNova;
	font-size: 18px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	margin-left:50%;
	margin-bottom:0%;
	margin-top:12%;
	color: #ffffff;
  }
  .Mask {
	width: 100%;
	height: 640px;
	background-color: #162242;
  }

  .Mask-login {
	width: 399px;
	height: 440px;
	border-radius: 8px;
	margin-left:30%;
	background-color: #ffffff;
	box-shadow: 0 8px 9px 0 rgba(0, 0, 0, 0.14);
  }
  .Use-OTP-Forgot-Passw {
	width: 246px;
	font-family: ProximaNova;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 4.13;
	letter-spacing: normal;
	color: #000000;
  }
  .Sign-in {
	width: 104px;
	height: 30px;
	font-family: ProximaNova;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.25;
	letter-spacing: 0.5px;
	text-align: center;
	color: #ffffff;
  }
  .Rectangle-5 {
	margin-left:35px;
	width: 331px;
	height: 59px;
	border-radius: 2px;
	background-color: #4990e2;
  }
  
  
  .New {
	width: 297px;
	height: 59px;
	margin-left:35px;
	
	font-family: ProximaNova;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 3.25;
	letter-spacing: normal;
	color: #4190e4;
  }
  .Rectangle-3 {
	width: 399px;
	height: 11px;
	margin-top:8%;
	border-radius: 8px;
	background-color: #4990e2;
  }
  .About-DMS-helps-to-E {
	width: 861px;
	height: 53px;
	margin-top:95px;
	margin-left:280px;
	font-family: ProximaNova;
	font-size: 38px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.18;
	letter-spacing: normal;
	color: #000000;
	}

  .block{
	margin-left:38%;
	margin-top: 100px;
	margin-bottom: 61px;

  }
  .Rectangle-5-Copy {
	  // margin-left:570px;
	width: 292px;
	height: 59px;
	border-radius: 8px;
	background-color: #4990e2;
  }
  .START {
	width: 205px;
	height: 24px;
	font-family: ProximaNova;
	font-size: 18px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
  }
  .Try-Your-Education-D {
	width: 100%;
	height: 53px;
	padding-top: 83px;

	font-family: ProximaNova;
	font-size: 34px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.09;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
  }
  
  .Try-Your-Education-D .text-style-1 {
	font-weight: bold;
  }
  .Lorem {
	width: 100%;
	height: 123px;
	// margin-left:290px;
	text-align:center;
	font-family: ProximaNova;
	font-size: 18px;
	color: #282828;
  }
  .Rectangle-6 {
	width: 100%;
	height: 300px;
	margin-top:83px;
	background-color: #f6f7fc;
	}
	.logo {
		width: 49px;
		height: 46px;
	}
	.Aligin-logo{
   margin-left:27px;
   margin-top:7px;
	}
	.Side-nav {
		width: 200px;
		height: 840px;
		background-color: #242536;
	}

	.username {
		width: 152px;
		height: 14px;
		font-family: ProximaNova;
		font-size: 14px;
		font-weight: 600;
		font-style: normal;
		font-stretch: normal;
		line-height: 1;
		margin-right:25px;
		margin-top:25px;
		margin-bottom:25px;
		margin-left:50px;
		letter-spacing: normal;
		color: #ffffff;
	}
	.About-Us {
		width: 69px;
		height: 123px;
		font-family: ProximaNova;
		font-size: 13px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.15;
		letter-spacing: normal;
		color: #000000;
	}
	.All-Documents {
		width: 92px;
		height: 14px;
		margin-left:20px;
		padding-top:18px;
		font-family: ProximaNova;
		font-size: 14px;
		font-weight: 600;
		font-style: normal;
		font-stretch: normal;
		line-height: 1;
		letter-spacing: normal;
		color: #ffffff;
	}
	.Navbar {
		width: 100%;
		height: 60px;
		background-color: #121f3f;
		box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.23);
	}
	.fa-fa-style {
		font-size: 900%;
		color: red;
    padding-top:8%;
	}
	
	.bar-1 {
		width: 250px;
		height: 51px;
		color:white;
		background-color: #4990e2;
	}
	.bar-2 {
		width: 250px;
		height: 25px;
		color:white;
		text-align:center;
		//background-color: #4990e2;
	}
	.video-align{
		margin-top: 115px;
    margin-left: 380px;
    margin-bottom: -11%;
	}
	.Pending {
		width: 51px;
		height: 14px;
		font-family: ProximaNova;
		font-size: 14px;
		padding-top:30px;
		padding-left:20px;
		letter-spacing: normal;
		color: #ffffff;
	}
	.Documents {
		width: 112px;
		height: 14px;
		margin-top:24px;
		margin-left:19px;
		font-family: ProximaNova;
		font-size: 12px;
		font-weight: 600;
		color: #ffffff;
	}
	.Rectangle-2-Copy-7 {
		width: 100%;
		height: 51px;
		margin-top:26px;
		background-color: #4990e2;
	}
	.Rectangle-2-Copy-8 {
		width: 100%;
		height: 50px;
		color:white;
		//  margin-top:26px;
		background-color: #4990e2;
	}
	.Search-block {
		width: 300px;
		height: 40px;
		border-radius: 4px;
		background-color: #ffffff;
		border: solid 1px #dbdbdb;
	}
	.Rectangle-402 {
		width: 157px;
		height: 40px;
		border-radius: 4px;

		border: solid 1px #dbdbdb;
	}
	.topnav-right {
		float: right;
	}
	.Rectangle-2-Copy-3 {
		width: 844px;
		height: 154px;
		background-color: #ffffff;
	}
	.Rectangle-403 {
		width: 300px;
		height: 40px;
		margin-left:20px;
		border-radius: 4px;
		background-color: #ffffff;
		border: solid 1px #dbdbdb;
	}
	.line-2 {
		width: 200px;
		height: 1px;
		margin-top:43px;
		background-color: #000000;
	}
	.line {
		width: 200px;
		height: 1px;
		margin-top:191px;
		// opacity: 0.11;
		background-color: #ffffff;
	}
	.sidebar {
		width: 250px;
		height: 840px;
		padding-top: 30px;
		background-color: #242536;
		}
		.Block {
			width: 100%;
			height: 200px;
			// border: 1px solid gray;	
		}
		.btn-success{
			background-color: blue;
			border-color: blue;
		}
		.SSLC-Documents {
			width: 100%;
			height: 22px;
			font-family: ProximaNova;
			margin-top:30px;
			padding-top:17px;
			padding-left:32px;
			font-size: 18px;
			font-weight: 600;
			color: #1f305d;
		}
		.main {
		margin-left: 20%;/* Same as the width of the sidenav */
		margin-top: -825px;
	
	
		}
	.Pending-1{
		width: 100%;
		height: 14px;
		font-family: ProximaNova;
		font-size: 14px;
		padding-top:40px;
		padding-left:20px;
		letter-spacing: normal;
		color: #ffffff;
	}
	.Pending-3{
		width: 100%;
		height: 14px;
		font-family: ProximaNova;
		font-size: 14px;
		padding-top:40px;
		padding-left:20px;
		line-height: 1;
		letter-spacing: normal;
		color: #ffffff;
	}
	.Pending-2{
		width: 51px;
		height: 14px;
		font-family: ProximaNova;
		font-size: 14px;
		padding-top:40px;
		padding-left:20px;
		line-height: 1;
		letter-spacing: normal;
		color: #ffffff;
	}
	.About-Us .text-style-1 {
		font-size: 12px;
		font-weight: bold;
		line-height: 1.17;
	}
  .Content {
	width: 100%;
	margin-top:300px;
	height: 93px;
	font-family: ProximaNova;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
  }
  .About-DMS-helps-to-E .text-style-1 {
	font-weight: bold;
  }
  .New .text-style-1 {
	font-weight: normal;
	color: #000000;
  }
  .Mobile-Number-or-Mai {
	width: 246px;
	// opacity: 0.27;
	font-family: ProximaNova;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 3.13;
	padding-left:54px;
	letter-spacing: normal;
	color: #000000;
  }
  .Welcome-to-DMS {
	width: 400px;
	height: 40px;
	font-family: ProximaNova;
	font-size: 24px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.25;
	letter-spacing: normal;
	padding-left:54px;
	padding-top:21px;
	color: #4a90e2;
  }
  .Know-More {
	width: 109px;
	height: 22px;
	margin-left:95px;
	font-family: ProximaNova;
	font-size: 18px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
  }
.description {
	display: block;
	width: 240px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
  }
.title{
	font-style: bold;
}
.old-body {
	font-family: 'Caveat';
}
body {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
html, body {
	height: 100%;
	margin: 0;
  }
  div.a {
	text-align: center;
}
  .ember-view{
	  height: inherit;
  }
  .wrapper{
	height: 100%;
  }
  .header, .footer {
	height: 20%;
  }
  .content {
	height: 80%;
	overflow: auto;
  }
.footer {
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }

.banner {
    background-image: url("banner.jpg");
    background-color: #cccccc;
 }
 
 .banner-text {
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.large-icons{
	font-size: 5.333333em;	
}
.white{
	background: white
}

.icon-bg{
	background: rgba(250, 247, 247, 0.404);
    border-radius: 15px;
    padding-top: 86px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.iconset{
	padding-top: 86px;
	font-size: 22px;
}

.icon-text{
	font-family: 'Caveat';
	font-size: 22px;
}

.well{
	margin: 5px;
}
.icon-cell{
	text-align: center;
}

.center{
	text-align: center;
}
.right{
	text-align: right;
}
.left{
	text-align: left;
}

.rcorners1 {
    border-radius: 5px;
     padding: 20px;  
}

.mdl-card {
	width: 550px;
//min-height: 0;
//margin: 10px auto;
 margin-left:50px;
 margin-top:60px;
}

.mdl-card__supporting-text {
	width: 100%;
	padding: 0;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step {
	width: 25%;
	/* 100 / no_of_steps */
}


/* Begin actual mdl-stepper css styles */

.mdl-stepper-horizontal-alternative {
	display: table;
	width: 100%;
	margin: 0 auto;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step {
	display: table-cell;
	position: relative;
	padding: 24px;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step:hover,
.mdl-stepper-horizontal-alternative .mdl-stepper-step:active {
	background-color: rgba(0, 0, 0, .06);
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step:active {
	border-radius: 15% / 75%;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step:first-child:active {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step:last-child:active {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step:hover .mdl-stepper-circle {
	background-color: 	#808080;
}
.io-style{
	margin-right:6mm;

}
.vl {

	margin-top: 1px;
	margin-left: 28px;
 
	border-left: 1.5px solid #A7B8C9;
	height: 27px;
 }

.upper-line3{
	margin-right:3mm;
	margin-top:-76px;
}
.po-style{
	margin-left:8mm;
}
.upper-line{
	margin-top:-76px;
 
}
.upper-line2{
	margin-left:3mm;
	margin-top:-76px;
}
#request-details{
	position: relative;
	margin-left: 15px;
	margin-bottom: 2mm;
	font-size:12px; 
	font-style:oblique;
	font-weight: 900;
	color:#A7B8C9;
}
 .circle {
	width: 8.9px;
	height: 8.9px;
	margin-left: 25px;
	background: #499EF6;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
 }
.mdl-stepper-horizontal-alternative .mdl-stepper-step:first-child .mdl-stepper-bar-left,
.mdl-stepper-horizontal-alternative .mdl-stepper-step:last-child .mdl-stepper-bar-right {
	display: none;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-circle {
	width: 17px;
	height: 17px;
	margin: 0 auto;
	background-color: 	#808080;
	border-radius: 50%;
	text-align: center;
	margin-top: 1mm;
	line-height: 5em;
	font-size: 12px;
	color: white;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step .mdl-stepper-circle {
 /* background-color: rgb(33, 150, 243);*/
 background-color:#68DC83;
}
.mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step .mdl-stepper-circle1 {
	/* background-color: rgb(33, 150, 243);*/
	border: 5px solid #a1a1a1;
	 width: 15px;
	 height:15px;
	 border-radius: 50%;
	
	 margin-left:30px;
 }
 .mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step .mdl-stepper-circle2 {
	/* background-color: rgb(33, 150, 243);*/
	position: relative;
	border: 5px solid #a1a1a1;
	 width: 15px;
	 height:15px;
	 border-radius: 50%;
	 margin-left:-25px;
	 margin-top:1.3mm;
 }

.mdl-stepper-horizontal-alternative .mdl-stepper-step.step-done .mdl-stepper-circle:before {
	content: "\2714";
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.step-done .mdl-stepper-circle *,
.mdl-stepper-horizontal-alternative .mdl-stepper-step.editable-step .mdl-stepper-circle * {
	display: none;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.editable-step .mdl-stepper-circle {
	-moz-transform: scaleX(-1);
	/* Gecko */
	-o-transform: scaleX(-1);
	/* Opera */
	-webkit-transform: scaleX(-1);
	/* Webkit */
	transform: scaleX(-1);
	/* Standard */
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.editable-step .mdl-stepper-circle:before {
	content: "\270E";
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-title {
 /* margin-top: 16px;*/
 padding-bottom: 16px;
	font-size: 14px;
	font-weight: 900;
}
 .mdl-stepper-title2 {
	margin-top: -19px;
	padding-bottom: 1.5mm;
 /* margin-bottom: -6px;*/
	 font-size: 14px;
	 font-weight: 900;
 }

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-title,
.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-optional {
	text-align: center;
	color: rgba(0, 0, 0, .26);
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step .mdl-stepper-title {
	font-weight: 900;
	color: rgba(0, 0, 0, .87);
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step.step-done .mdl-stepper-title,
.mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step.editable-step .mdl-stepper-title {
	font-weight: 300;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-optional {
	font-size: 12px;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step .mdl-stepper-optional {
	color: rgba(0, 0, 0, .54);
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-left,
.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-right {
	position: absolute;
	top: 36px;
	height: 5px;
	border-top: 3px solid #697572;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-right {
	right: 0;
	left: 45%;
	margin-left: 25px;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-left {
 left:0.3px;
	right: 45%;
	margin-right: 25px;
}
.this-circle2 {
	position: relative;
	width: 8.9px;
	height: 8.9px;
	margin-left: 26px;
	background: #499EF6;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.vl2 {
	/*margin-top: -11px;*/
		margin-left:30px;
		border-left: 1.5px solid #A7B8C9;
		height: 27px;
	}
.this-circle3 {
	position: relative;
	width: 8.9px;
	height: 8.9px;
	margin-left: 27px;
	background: #499EF6;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.upper-line2{
	margin-left:3mm;
	margin-top:-76px;
}

.container{
	//padding-left: 15px;
	//padding-right:15px;
	height: 200px;	width: 100%;
	margin-top:50px;
	//margin-left: -120px;
	//margin-right: 400px;
	border-radius: 2px;	background-color: whitesmoke;	box-shadow: 0 7px 16px 0 rgba(132,152,172,0.1);
	}
.login-container {
    padding-top: 60px;
}
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}

.steps-form {
	display: table;
	width: 100%;
	position: relative; }
.steps-form .steps-row {
	display: table-row; }
.steps-form .steps-row:before {
	top: 14px;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 100%;
	height: 1px;
	background-color: #ccc; }
.steps-form .steps-row .steps-step {
	display: table-cell;
	text-align: center;
	position: relative; }
.steps-form .steps-row .steps-step p {
	margin-top: 0.5rem; }
.steps-form .steps-row .steps-step button[disabled] {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important; }
.steps-form .steps-row .steps-step .btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
	margin-top: 0; }
	// =====================stepper=============================
	$brand-primary: #2196F3; // Blue 500
$brand-muted: rgba(0,0,0,.38);
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-400: #BDBDBD;
$border-radius: 3px;
$shadow-z-1: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);


// Module - Stepper (style structure based on http://maintainablecss.com)

.stepper {
    background-color: #fff;
    margin-bottom: 90px;
    border-radius: $border-radius;
    box-shadow: $shadow-z-1; 
}

.stepper-steps {    
    height: 72px;
    background-color: #fff;
    border-radius: $border-radius;
    box-shadow: $shadow-z-1;
}

.stepper-steps-isOffset {
    position: relative;
    top: -30px;
    margin: 0 15px -30px 15px;
}

.stepper-content {
    padding: 24px;
}

.stepper-step {
    float: left;
    width: 33.333333333333%; // fixme: only works because there's 3 steps
    padding: 24px;
    cursor: pointer;
    color: rgba(0,0,0,.87);
    position: relative;
    text-align: center;

    &:not(.stepper-step-isDisabled):hover, 
    &:not(.stepper-step-isDisabled):hover .stepper-stepContent {
       background-color: $grey-100;
    }
    
    &:first-child {
        text-align: left;
    }
    
    &:last-child {
        text-align: right;
    }
}

// Connector line
.stepper-step {
    &::after {
        content: '';
        position: absolute;
        bottom: 36px;
        left: 0;
        right: 0;
        height: 5px;
        background: $grey-400;
    }
    &:first-child::after {
        left: 24px;
    }
    &:last-child::after {
        right: 24px;
    }
}

.stepper-step-isActive {
    font-weight: 600;
}
.stepper-step-isValid {
    font-weight: 600;
}

.stepper-step-isDisabled {
    color: rgba(0,0,0,.38);
    cursor: default;
}

.stepper-stepMarker {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    text-align: center;
    color: white;
    line-height: 24px;
    background-color: $brand-muted;
    border-radius: 24px;
    font-weight: 100;
    font-size: 12px;
}

.stepper-step-isActive .stepper-stepMarker {
    background-color: $brand-primary;
}

.stepper-step-isValid .stepper-stepMarker {
    text-indent: -10000px;
    background: url('data:image/svg+xml;charset=utf8,<svg fill="#FFFFFF" height="20" viewBox="0 0 24 24" width="19" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/> <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/></svg>') no-repeat $brand-primary;
    background-position: 2px 1px;
    background-color: $brand-primary;
}

// colored block to cover the connector line where needed
.stepper-stepContent {
    display: inline-block;
    position: relative;
    z-index: 2;
    padding: 0 8px;
    background-color: #fff;
}
.stepwizard-step p {
    margin-top: 0px;
    color:#666;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard-step button[disabled] {
    /*opacity: 1 !important;
    filter: alpha(opacity=100) !important;*/
}
.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity:1 !important;
    color:#bbb;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}















// Boilerplate for presentation only
// body {
//     background-color: $grey-200;
//     padding: 60px 0;
//     font-family: 'Roboto';
//     font-size: 14px;
//     font-weight: 400;
// }

// img { max-width: 100%; }


@import "ember-power-select";
