{{partial 'navbar'}}
<br>
 <table class="table">
    <thead>
      <tr>
        <th>User Id</th>
        <th>Application Type</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>123</td>
        <td>SSC Admission Form</td>
        <td>Not verified</td>
      </tr>
    
    </tbody>
  </table>
