{{partial 'navbar'}}
<div class="jumbotron">
<br>
<h1>All Application Form</h1>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>Report Content hash</th>
        <th>Application Id</th>
        <th>Type Of Form</th>
      
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
   
      </tr>
     
      
    </tbody>
  </table>
  </div>