{{partial 'navbar'}}
<div class="sidebar">
   <div class="bar-1">
      <div class="All-Documents" >All Documents</div>
   </div>
   <div class="Pending" style="">Pending</div>
   <div class="Pending-1" style="">Inbox</div>
   <div class="Pending-2" style="">Request</div>
   {{#link-to 'statusupload'}} <div class="Pending-3" style="">Host Documents</div>{{/link-to}}
   <br>
   <hr>
   <div class="Documents">
      Documents
   </div>
   <button type="button" class="btn btn-primary Rectangle-2-Copy-7" >View All Documents</button>
   <br>
   <hr>
</div>
<div class="main">
   <br>
   <div class="row">
      <div class="col-lg-6">
         <button class="btn" style="	width: 157px;	height: 40px;	border-radius: 4px;" type="button" data-toggle="dropdown"><span class="caret"></span>All Documents</button>
      </div>
      <div class="col-lg-6">
         {{input type="text" class="Search-block" style="height:40px;" value=search placeholder="search" class="search"}}
      </div>
   </div>
   <hr>
   {{!-- ------------------------------>>>>>>>><<<<<<<<<----------- --}}
   <div class="row" style="background-color:">
      <div class="col-md-4 colour-3" style="background:;text-align:center;">
         <h3>
            <b>
            Inbox
            </b>
         </h3>
         {{#progress-circle
         size="200"
         strokeWidth="10"
         percentage="20"
         as |elementId radius|
         }}
         {{#progress-circle/text
         font-size="2rem"
         font-family="inherit"
         }}
         210
         {{/progress-circle/text}}
         {{/progress-circle}}
      </div>
      <div class="col-md-4" style="background:;text-align:center;">
         <h3>
            <b>
            Request for update 
            </b>
         </h3>
         {{#progress-circle
         size="200"
         strokeWidth="10"
         percentage="9"
         as |elementId radius|
         }}
         {{#progress-circle/text
         font-size="2rem"
         font-family="inherit"
         }}
         9
         {{/progress-circle/text}}
         {{/progress-circle}}
      </div>
      {{!-- <div class="col-md-4" style="background:">
         <h3>
            <b>
            Hosted Doc
            </b>
         </h3>
          {{#progress-circle
         size="200"
         strokeWidth="10"
         percentage="9"
         as |elementId radius|
         }}
         {{#progress-circle/text
         font-size="2rem"
         font-family="inherit"
         }}
         11
         {{/progress-circle/text}}
         {{/progress-circle}}
        
         
      </div> --}}
   </div>
   {{!-- -------------------->><<-------------------- --}}
   <div class="Block">
      <div class="SSLC-Documents ">
         SSC Documents
      </div>
      <hr>
      <div class="row">
         <label style="padding-left:4%;">Total Document : 100</label>
      </div>
   </div>
   <br>
   <div class="Block">
      <div class="SSLC-Documents ">
         HSC Documents
      </div>
      <hr>
      <div class="row">
         <label style="padding-left:4%;">Total Document : 110</label>
      </div>
   </div>
   <br>
</div>