
{{partial 'navbar'}}
<div class="jumbotron">
   <br>
   <h2 style="font-family:courier;"><b>Welcome to Document Management</b></h2>
   <br>
   <h2><label>Your Dashboard</label></h2>
   <hr style="border: 1px solid ">
   <div class="container-fluid  text-center">
       <div class="card">
             <div class="card-block">
            <h3>
               <b>
                  <div  class="a">Requests</div>
               </b>
            </h3>
            <div class="a lable-align">
                {{#link-to 'EmployerDocumentCategory'}}
             <b class="class-color">Send Request to Employee for Document</b>
             {{/link-to}}
            </div>
            </div>
         </div>
     
   </div>
   <br>

</div>
<!-- Second Container -->

  {{partial 'footer'}}

<!-- Footer -->
