<footer class="footer">
      <div class="container">
        {{!-- <span class="text-muted"> --}}
           ServiceBy continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and Content Policies. © 2018 - Maharashtra state board and higher secondary education All rights reserved.
            {{!-- </span> --}}
            {{!-- <br><br> --}}
      </div>
    </footer>