<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

       

        <hr class="clearfix w-100 d-md-none pb-3">
 <!-- Grid column -->
        <div class="col-md-3 mt-md-0 mt-3">
<ul class="list-unstyled">
              <li>
               <h6> <b>Maharashtra</b></h6>
              </li>
              <li>
                <a href="#!">About Us</a>
              </li>
              <li>
                <a href="#!">Blog</a>
              </li>
              <li>
                <a href="#!">Contact Us</a>
              </li>
            </ul>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h6> <b>Support</b></h6>
            <ul class="list-unstyled">
              <li>
                <a href="#!">Help Center</a>
              </li>
              <li>
                <a href="#!">FAQ’s</a>
              </li>
              
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h6> <b>LEGAL</b></h6>


            <ul class="list-unstyled">
              <li>
                <a href="#!">Privacy Policy</a>
              </li>
              <li>
                <a href="#!">Terms of Service</a>
              </li>
              
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/bootstrap-tutorial/"> www.RapidQube.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->