{{partial 'navbar'}}

<br>
<br>
<style>
   .flex-container { 
   width:80%;
   height: 650px;
   background-color: rgba(0, 0, 150, .3);
   text-align: center;
   margin-left:10%;
   }
   .text{
   text-align:center;
   }
   table {
   font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 100%;
   }
   td, th {
   border: 2px solid #000;;
   text-align: left;
   padding: 8px;
   }
   tr:nth-child(even) {
   background-color: #dddddd;
   }
</style>
<div class="card flex-container">
   <div class="card-block">
      <div class="row">
         <div class="col-lg-2" style="background-color:">
            <img class="Fix-Image" style="	margin-left:0px;" src="assets/MH.png">
         </div>
         <div class="col-lg-8" style="background-color:">
            <h2><b>Maharashtra State Board Secondary and Higher Secondary Education,Pune</b></h2>

         </div>
      </div>
   
      <div class="row">
            <h3><b>ADMISSION CARD,S.S.C EXAM</b></h3>
            <table>
            <tr>
               <th>DIV BOARD</th>
               <th>DIST.& JR.COLL NO</th>
               <th>CENTER NO.</th>
               <th>M/F</th>
               <th>STREAM</th>
            </tr>
            <tr>
               <td>MUMBAI</td>
               <td>1452</td>
               <td>16.16.015</td>
               <td>MARCH-2010</td>
               <td></td>
            </tr>
         </table>
      </div>
      <div class="row">
         <div class="col-lg-6">
         <h3><b style="float:left;">Name:Rotangan Khetesh </b></h3><br>
         <h3><b style="float:left;">Mother's Name: </b></h3><br>
         <h3><b style="float:left;">Seat No.: </b></h3><br>
         <h3><b style="float:left;">Center Name: </b></h3><br>
         </div>
      </div> 
         <div class="row">
         <table>
            <tr>
               <th><b>Subject Name</b></th>
               <th>ENG</th>
               <th>HINDI</th>
               <th>MATHS</th>
               <th>MARATHI</th>
               <th>SCIENCE</th>
               <th>SOC SCIENCE</th>
            </tr>
            <tr>
               <td><b>Language of Ans</b></td>
               <td>ENG</td>
               <td>HINDI</td>
               <td>ENG</td>
               <td>MARATHI</td>
               <td>ENG</td>
               <td>ENG</td>
            </tr>
         </table>
      </div>
   </div>
</div>
<br>