

<div class=" Mask" >
	<div class= "row">
		<div class="col-lg-6">
<img class="Fix-Image" src="assets/MH.png">
</div>
	<div class="col-lg-6" style="">
			<div class="Call">
	CALL NOW-9004450734
	</div>
</div>

</div>
<div class="row">
	<div class="col-lg-6">
	<div class="Maharashtra-state-bo">
		<div class="text-style-1">Maharashtra state board and higher secondary education</div>
		</div>


<div class="Know-More">
	know more  &#8677;
</div>
</div>
<div class="col-lg-6">
	<div class="Mask-login">
<div class="Welcome-to-DMS">
	Welcome to DMS
	</div>
	<div class="Mobile-Number-or-Mai">
		Mobile Number or Mail ID
		
Password
		</div>

		</div>
	</div>
</div>
</div>
  

