<nav class="navbar navbar-inverse" style="height: 60px;margin-bottom: -18px;background-color: #121f3f;box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.23);">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'Home_Page' class="navbar-brand"}}Document Management System{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
            {{#link-to 'Home_Page' tagName="li"}}<a href="">Home</a>{{/link-to}}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{{!-- <div class="Navbar">
      <div class="row">
          <div class="col-lg-9">
    <img class="logo Aligin-logo" src="assets/MH.png">
  </div>
   <div class="col-lg-3">
    <label class="username" style="color:white">Suhas Patil</label>
    </div>
    </div>
    </div> --}}